<!DOCTYPE html>
<html>
  <head>
    
    
    <!-- for mobile start -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- for mobile end -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <title>Project0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AJOU HELPER</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "게시판", "/posts" %></li>
            <li><%= link_to "과목 추천받기", "#", data: { toggle: "modal", target: "#modal" } %> </li>
            <li><%= link_to "미수강과목 열람", "#", data: { toggle: "modal", target: "#modal2" } %> </li>
          </ul>

          <!--<form class="navbar-form navbar-left">-->
          <!--  <div class="form-group">-->
          <!--    <input tpe="text" class="form-control" placeholder="내용을 입력하세요.">-->
          <!--  </div>-->
          <!--  <button type="submit" class btn btn-default>검색</button>-->
          <!--</form>-->

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "권한 : " + user_roles(current_user), '#' %></li>
                  <li><%= link_to "수강내역", "#" %></li>
                  <li><%= link_to "비밀번호 수정", edit_user_registration_path %></li>
                  <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃합니다." } %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "로그인", new_user_session_path %></li>
              <li><%= link_to "회원가입", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>

     <%= yield %>

    </div> <!-- /container -->

<div class="row">
  <div class="modal" id="modal" tabindex="-1">
    <div class= "modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">
          <strong>추천 수강과목</strong>
          <buttron class="close" data-dismiss="modal">&times;</buttron>
        </div>
        <div class="modal-boty" style="text-align: center;">
          <% if user_signed_in? && Student.exists?(stu_email: current_user.email) %>
          <p>헬퍼가 제공하는 카테고리별 추천 과목 상위 5선입니다!</p><br>
          <!--  0 : 전공코드(major_id),
                1 : 과목명,
                4 : 학점,
                5 : 장소,
                6 : 시간,
                7 : 교수id    -->

              <table>
                <caption>교양</caption>
                <tr>
                  <td><strong>전공코드</strong></td>
                  <td><strong>과목명</strong></td>
                  <td><strong>교수명</strong></td>
                  <td><strong>학점</strong></td>
                  <td><strong>시간</strong></td>
                  <td><strong>장소</strong></td>
                </tr>
                <% @Reco[0].each do |subject| %>
                  <tr>
                    <td><%= subject[0] %></td>
                    <td><%= subject[1] %></td>
                    <td><%= Professor.find(subject[7]).professor_name %></td>
                    <td><%= subject[4] %></td>
                    <td><%= subject[6] %></td>
                    <td><%= subject[5] %></td>
                  </tr>
                <% end %>
              </table>
              <table>
                <caption>전공필수</caption>
                <tr>
                  <td><strong>전공코드</strong></td>
                  <td><strong>과목명</strong></td>
                  <td><strong>교수명</strong></td>
                  <td><strong>학점</strong></td>
                  <td><strong>시간</strong></td>
                  <td><strong>장소</strong></td>
                </tr>
                <% @Reco[1].each do |subject| %>
                  <tr>
                    <td><%= subject[0] %></td>
                    <td><%= subject[1] %></td>
                    <td><%= Professor.find(subject[7]).professor_name %></td>
                    <td><%= subject[4] %></td>
                    <td><%= subject[6] %></td>
                    <td><%= subject[5] %></td>
                  </tr>
                <% end %>
              </table>
              <table>
                <caption>전공선택</caption>
                <tr>
                  <td><strong>전공코드</strong></td>
                  <td><strong>과목명</strong></td>
                  <td><strong>교수명</strong></td>
                  <td><strong>학점</strong></td>
                  <td><strong>시간</strong></td>
                  <td><strong>장소</strong></td>
                </tr>
                <% @Reco[2].each do |subject| %>
                  <tr>
                    <td><%= subject[0] %></td>
                    <td><%= subject[1] %></td>
                    <td><%= Professor.find(subject[7]).professor_name %></td>
                    <td><%= subject[4] %></td>
                    <td><%= subject[6] %></td>
                    <td><%= subject[5] %></td>
                  </tr>
                <% end %>
              </table>
          <% elsif !user_signed_in? %>
            로그인 후 이용 가능합니다!
          <% else %>
            해당 계정에 대한 학사정보가 존재하지 않습니다.
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="modal" id="modal2" tabindex="-1">
    <div class= "modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">
          <strong>남은건 뭐지?</strong>
          <buttron class="close" data-dismiss="modal">&times;</buttron>
        </div>
        <div class="modal-boty" style="text-align: center;">
          <% if user_signed_in? && Student.exists?(stu_email: current_user.email) %>
          <p>회원님이 아직 수강하지 않은 과목들을 보여줘요!</p><br>
          <!--  0 : 전공코드(major_id),
                1 : 과목명,
                4 : 학점,
                5 : 장소,
                6 : 시간,
                7 : 교수id    -->

              <table>
                <caption>교양</caption>
                <tr>
                  <td><strong>전공코드</strong></td>
                  <td><strong>과목명</strong></td>
                  <td><strong>교수명</strong></td>
                  <td><strong>학점</strong></td>
                  <td><strong>시간</strong></td>
                  <td><strong>장소</strong></td>
                </tr>
                <% @Liberal_Arts.each do |subject| %>
                  <tr>
                    <td><%= subject[0] %></td>
                    <td><%= subject[1] %></td>
                    <td><%= Professor.find(subject[7]).professor_name %></td>
                    <td><%= subject[4] %></td>
                    <td><%= subject[6] %></td>
                    <td><%= subject[5] %></td>
                  </tr>
                <% end %>
              </table>
              <table>
                <caption>전공필수</caption>
                <tr>
                  <td><strong>전공코드</strong></td>
                  <td><strong>과목명</strong></td>
                  <td><strong>교수명</strong></td>
                  <td><strong>학점</strong></td>
                  <td><strong>시간</strong></td>
                  <td><strong>장소</strong></td>
                </tr>
                <% @Required_Course.each do |subject| %>
                  <tr>
                    <td><%= subject[0] %></td>
                    <td><%= subject[1] %></td>
                    <td><%= Professor.find(subject[7]).professor_name %></td>
                    <td><%= subject[4] %></td>
                    <td><%= subject[6] %></td>
                    <td><%= subject[5] %></td>
                  </tr>
                <% end %>
              </table>
              <table>
                <caption>전공선택</caption>
                <tr>
                  <td><strong>전공코드</strong></td>
                  <td><strong>과목명</strong></td>
                  <td><strong>교수명</strong></td>
                  <td><strong>학점</strong></td>
                  <td><strong>시간</strong></td>
                  <td><strong>장소</strong></td>
                </tr>
                <% @Elective_Course.each do |subject| %>
                  <tr>
                    <td><%= subject[0] %></td>
                    <td><%= subject[1] %></td>
                    <td><%= Professor.find(subject[7]).professor_name %></td>
                    <td><%= subject[4] %></td>
                    <td><%= subject[6] %></td>
                    <td><%= subject[5] %></td>
                  </tr>
                <% end %>
              </table>
          <% elsif !user_signed_in? %>
            로그인 후 이용 가능합니다!
          <% else %>
            해당 계정에 대한 학사정보가 존재하지 않습니다.
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


    <footer  id="footer">

      <div class="copyright">
        <p>
          Copyright © 2018 All right reserved by Team11
        </p>
      </div>
    </footer>


</body>

</html>
